.training-summary {
  margin: 30px auto;
  max-width: 960px;
  padding: 25px 25px 40px;
  border: 1px solid rgba(0,0,0,.125);
  background-color: #fff;
  //box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, .12);
  position: relative;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
  i {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
  }
  .trash {
    top: 25px;
    right: 25px;
  }
  .edit {
    top: 25px;
    right: 80px;
  }
  .training-summary__date, .training-summary__name {
    margin-bottom: 10px;
    span {
      font-weight: 600;
    }
  }
  .training-summary__list {
    box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.08);
    margin-top: 15px;
    .training-summary__exercise {
      padding: 1rem 1rem;
    }

    .training-summary__exercise-name {
      font-weight: 600;
      display: block;
      margin-bottom: 8px;
    }

    .training-summary__exercise-rep {
      margin-right: 0.75rem;
      margin-bottom: 5px;
      display: inline-block;
    }
  }
  .training-summary__notes {
    border-top: none;
    padding: 30px 0 0;
    //font-size: 18px;
    p {
      margin-bottom: 3px;
      font-weight: 600;
    }
  }
  .list-group-item {
    background-color: #f7f7f7;
  }
}