.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1.6rem 9rem repeat(5, 9rem);
  gap: 0.3rem;
  width: 100%;
  margin: 0 auto;

  &__week-days {
    display: flex;
    height: min-content;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    min-width: 10.5rem;
    padding: 0 0.3rem;
    background-color: #F9FBFF;
    user-select: none;

    &--diffMonth {
      background-color: #F4F4F4;
      div {
        opacity: 0.5;
      }
    }

    &--exist {
      border-bottom: 0.2rem solid #A9E838;
    }

    &--isToday {
      border-bottom: 0.2rem solid #4785e5;
    }

    &--isPicked {
      border-radius: 0.2rem;
      background-color: #6ea7ff;

    }

    &--hoover:hover {
      cursor: pointer;
      background-color: #4785E580;
    }

    &__bottom {
      display: flex;
      margin-top: auto;
    }
  }
}

.item-bottom {
  &__day {
    font-weight: 700;
    font-size: 1rem;
  }

  &__today {
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    align-self: center;
    margin-left: 4px;
  }

  &__add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    //color: #4785e5;
  }
}
