.login__nav {
  margin-bottom: 50px;
  background-color: rgb(63, 127, 191);
  .container.login__header-wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .login__header-logo {
      margin-bottom: 0;
    }
    .login__header-logo  a {
      color: white;
      text-decoration: none;
    }
  }
}

.register-form {
  margin-top: 50px;
  .row {
    display: flex;
    justify-content: center;
  }
}
