.add-training__list {
  margin: 15px auto;
  max-width: 650px;
  .add-training__exercise {
    padding: 1rem 1rem;
    .add-training__exercise-name {
      font-weight: 600;
      display: block;
      margin-bottom: 8px;
    }
    .add-training__exercise-rep {
      margin-right: 0.75rem;
      margin-bottom: 5px;
      display: inline-block;
    }
    .add-training__btn {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
