.calendar {
  width: 100%;
  border: 1px solid gray;
  .calendar__days {
    background-color: #b9deff;
    tr {
      border-bottom: 1px solid gray;
    }
    th {
      width: 14%;
    }
  }
  .calendar__day {
    min-height: 50px;
    border: 1px solid #8080803d;
  }
}

.calendar__day--notActual {
  min-height: 50px;
  border: 1px solid #8080803d;
  color: #80808070;
}