.add-training__form {
  padding: 40px 20px;
  max-width: 600px;
  margin: 0 auto;
  .add-training__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .add-training__form-group {
      margin-bottom: 1.15rem;
      width: 100%;
    }
    .notes {
      margin-bottom: 40px;
      textarea {
        resize: none;
      }
    }
    .reactSelect div:first-of-type {
      width: 100%;
    }
    .add-training__error-message {
      color: red;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .add-training__buttons-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
