.container__add-training {
  max-width: 720px;
  margin: 0 auto;
  margin-top: 50px;
  form {
    margin-bottom: 50px;
    label {
      margin-right: 10px;
    }
    .notes {
      margin-bottom: 40px;
    }
    .container__add-training {
      max-width: 600px;
    }
  }

  .list-group {
    //margin-bottom: 50px;
    .exercise-rep {
      margin-right: 10px;
      margin-left: 5px;
    }
  }
}



//
//.container.exercises-list {
//  width: 800px;
//}