@import '../../sass/_fonts.scss';

.nav {
  background-color: white;
  .container.main__header-wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    .header-logo {
      font-family: $logo-font;
      margin-top: 5px;
      font-size: 2rem;
      a {
        text-decoration: none;
      }
    }
  }
}

