.hero {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/hero2.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 118px);
  margin-bottom: 0;
  h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 10px;
  }
  .hero__para {
    text-align: center;
    max-width: 400px;
    margin-bottom: 20px;
  }
}