.register__container {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .register__form {
    width: 300px;
    label {
      margin-bottom: 3px;
    }
    .register__input {
      margin-bottom: 5px;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .register__error-message {
      color: red;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .register__buttons {
      display: flex;
      justify-content: space-between;
      button {
        padding: 0.5rem 1rem;
      }
    }
  }
}

.login__input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}