footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px -5px 40px #00000029;
  .footer__copyright {
  }
}

.footer__relative {
  position: relative;
}

.footer__absolute {
  position: absolute;
}