@import "./settings/reset";
@import "./settings/fonts";
@import "./settings/mixins";
@import "./settings/variables";

body {
  background-color: #fafbfc;
  color: #2e3d49;
  font-family: $basic-font;
}

h1 {
  font-family: $logo-font;
}


