@import "./settings/reset";
@import "./settings/fonts";
@import "./settings/mixins";
@import "./settings/variables";

html {
  font-size: 62.5%;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

a:focus {
  outline: none;
}

html, body, .app {
  position: relative;
  min-height: 100vh;
}

body {
  color: #2e3d49;
  font-family: $basic-font;
  font-size: 1.6rem;
}


